<%= render :partial => 'admin/tabs' %>

<% accessible_form_for(@user) do |f| %>
	<%= f.error_messages %>
	<%= f.text_field :username, :size => 30 %>
	<%= f.text_field :type, :size => 30 %>
	<%= f.text_field :email, :size => 30 %>
	
	<% for exchange in @exchanges %>
	<div id ="check_box">
	  <%= check_box_tag "user[exchange_ids][]", exchange.id, @user.exchanges.include?(exchange) %>
	  <%= exchange.name %>
	</div>
	<% end %>

	<fieldset class="submit">
	  <p>
	    <%= f.submit "Update" %>
	  </p>
	</fieldset>

<% end %>

