<div id='right'>
<%= @user.username %>, you have <%= pluralize(@gifts.count, "wish") %> on your list.<br><br>
<ul id='wishlist'>
  <% if @gifts.count > 0 %>
	   <%= render :partial => 'gift', :collection => @gifts %>
  <% end %>
</ul>  
<div style='float:right' style='width: 200px; vertical-align: top;'>
	<input type='button' id='add_item_control' onClick='item_form_show(); return false;' value='Add an item'>
	<form id='item_form' action="<%= url_for :controller => :gifts, :action => :create, :format => :html %>" style='display: none' method='POST'>
		<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
		<label>New Item: </label><br /> <%= text_field_tag 'gift[name]', nil, :autocomplete => 'off'  %><!--<input id='item' name='item'>--> <br /><br />
		<label>Url: </label>     <br /> <%= text_field_tag 'gift[url]' , nil, :autocomplete => 'off'  %> <!-- <input id='url' name='url' autocomplete='off'> --> <br /><br />
		<input id='item_form_btn' name='commit' type='submit' value='Add item' onClick='item_add();return false'>&nbsp;&nbsp;&nbsp;<a href='#' onClick='item_form_hide(); return false'>I'm done</a>
	</form>
</div>
</div>		
<div id="left" style='float: right; visibility: hidden'>
	<div class="box">
		<h2>News :</h2>	
		<p>Sandy has added 4 items to her wish list<br />
		<i>One of the items is 30% off at Amazon</i></p>
		<p>You've been assigned Rusty in the Griswald Family Christmas exchange</p>
	</div>
	<% if @exchanges %>
		<div class="box">
			<h2>Exchanges :</h2>
			<ul>
			<% for exchange in @exchanges %>
				<li><%= link_to "#{exchange.name}", :controller => 'exchanges', :action => 'show_members', :id => exchange.id %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<div class="box">
		<div style="font-size: 0.8em;">Design by <a href="#">GML ltd.</a></div>
	</div>
</div>
			
	<script>
		function item_add (){
			$j.post($j('#item_form').attr('action'), $j('#item_form').serialize(), item_add_success, 'html'); 
		}
		function item_add_success (html, textStatus){
			//gift = gift['gift'];	
			//var html = item_format( gift );
			
			$j(html).appendTo('#wishlist');
			setup_controls();
			// ajax call goes here
			item_form_hide();
			item_form_reset();
			
		}

		
		function item_delete ( gift_id ) {
			 if( confirm('Delete?') ){ 
			 	$j('#item_' + gift_id).remove(); 
				<!-- <%= url_for( :controller => :gifts, :action => :destroy, :id => 57, :method => :delete) %>-->
				//$j.ajax({type: 'DELETE', url: '/gifts/destroy/' + gift_id, data: { gift: { id: gift_id } } });
				$j.ajax({type: 'DELETE', url: '/gifts/' + gift_id + '?method=delete', data: { authenticity_token: "<%= form_authenticity_token() %>" }});
				//$j.post('/gifts/' + gift_id + '?method=delete');
			 	//ajax call goes here
			 }
			 return false;
		}
		
		function item_format (gift){

			var html = '<li>' + item + " <span class='item-control'><span class='item-control-edit' title='Edit this item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit</span><span class='item-control-delete' title='Delete this item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delete</span></span>";

			if ( desc != undefined && desc != '' ){
				html = html + '<br><i>' + desc + '</li>';
			}
			
			html = html + "</li>";
			
			return html;
		}
		function item_form_show (){
			$j('#item_form').show();
			$j('#add_item_control').hide();
		}
		function item_form_hide (){
			$j('#item_form').hide();
			$j('#add_item_control').show();
		}
		function item_edit (control_el){
			
			var list_item  = $j(control_el).parents('li')[0];
			list_item = $j(list_item).html();
			
			var item_re = /^([^<]+)</;
			var item_rv = list_item.match( item_re );
			
			var desc_re = /i>([^<]+)</;
			var desc_rv = list_item.match( desc_re );
			
			var item       = item_rv[1];
			var desc       = desc_rv != undefined ? desc_rv[1] : '';
			
			item_form_reset();
			$j('#item').val( rtrim( item ) );
			$j('#description').val( rtrim( desc ) );
			// change frm to have an Update button instead of an add button
			// make update button replace existing entry (requires id?)
			item_form_show();
		}
		function item_add_another(){
			var html = item_format( $j('#item').val(), $j('#url').val(), $j('#description').val());
			
			$j(html).appendTo('#wishlist');
			setup_controls();
			// ajax call goes here
			
			// ajax success callback must call this
			item_form_reset();
			this.form.submit();
		}

		
		function show_item_controls ( num ){
			$j('#item-control-' + num).show();
		}
		
		function setup_controls (){
			$j('#wishlist > li').hover(	
					function () { $j(this).find('.item-control').show() },
					function () { $j(this).find('.item-control').hide() }
				);
			
			$j('.item-control-delete').bind('click',  function(){ item_delete(this); return false } );
			$j('.item-control-edit').bind('click',  function(){ item_edit(this); return false } );
		}
		
		$j(document).ready(function(){
			setup_controls();
		});
		
		function rtrim(str, chars) {
    		chars = chars || "\\s";
    		return str.replace(new RegExp("[" + chars + "]+$j", "g"), "");
		}
		
		
	</script>

