<%= render :partial => 'admin/tabs' %>
<%= @user.username %>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for exchange in @exchanges %>
  <tr>
    <td><%=h exchange.id %></td>
    <td><%=h exchange.name %></td>
    <td><%=h exchange.description %></td>
    <td><%= link_to 'Show', exchange %> |</td>
    <td><%= link_to 'Edit', edit_admin_exchange_path(exchange) %> |</td>
    <td><%= link_to 'Destroy', exchange, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New exchange', new_admin_exchange_path %>
