<%= render :partial => 'admin/tabs' %>
<p>
  <b>Name:</b>
  <%=h @exchange.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @exchange.description %>
</p>


<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', admin_exchanges_path %>
