<span id='sitecontrols' style='float:right; margin-right: 10px; margin-top: 40px;' >
	<!-- <div id="top-right"> -->
	<% if signed_in? -%>
	        <ul class="collapsed menu">
	          <li class="first">Hello <b><%=h current_user.username %></b></li>
	<%   if current_user.admin? -%>
	          <li> | <%= link_to 'Admin', admin_exchanges_url %></li>
	<%   end -%>
	          <li> | <%= link_to 'Settings', preferences_url %></li>
	          <li> | <%= link_to "Log out", session_url, :method => :delete, :rel => "nofollow" %></li>
	        </ul>
	<% else -%>
	        <ul class="collapsed menu">
	          <li class="first"><%= link_to 'Log in', new_session_url, :rel => "nofollow" %></li>
	          <li> | <%= link_to 'Sign up', new_user_url, :rel => "nofollow" %></li>
	        </ul>
	<% end -%>
	<!-- </div> -->
</span>

